<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                    *ngIf="this.isForm === true else elseBlock">
                    สร้างคำสั่งซื้อ
                </h2>
                <ng-template #elseBlock>
                    <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        แก้ไขคำสั่งซื้อ
                    </h2>
                </ng-template>
                <div class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    <button mat-flat-button color="primary" (click)="openStatusDialog()">
                        อัปเดตสถานะ
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="grid gap-4 w-full sm:grid-cols-1 md:grid-cols-1 bg-card rounded-lg">
            <div class="flex flex-col md:flex-row justify-between gap-2">
                <span
                    class="px-6 pt-4 text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500">
                    ข้อมูลการจอง
                </span>
                <div class="px-6 pt-4 text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500">
                    <div *ngIf="this.itemData?.status === 'pending'"
                        class="bg-blue-200 px-2 py-1 rounded-md text-center text-blue-800 font-bold">
                        รอรับมัดจำ
                    </div>
                    <div *ngIf="this.itemData?.status === 'deposit_received'"
                        class="bg-indigo-200 px-2 py-1 rounded-md text-center text-indigo-800 font-bold">
                        รับมัดจำแล้ว
                    </div>
                    <div *ngIf="this.itemData?.status === 'waiting_for_finance'"
                        class="bg-yellow-200 px-2 py-1 rounded-md text-center text-yellow-800 font-bold">
                        รอผลไฟแนนซ์
                    </div>
                    <div *ngIf="this.itemData?.status === 'finance_approved'"
                        class="bg-green-200 px-2 py-1 rounded-md text-center text-green-800 font-bold">
                        ไฟแนนซ์อนุมัติผล
                    </div>
                    <div *ngIf="this.itemData?.status === 'waiting_for_delivery'"
                        class="bg-purple-200 px-2 py-1 rounded-md text-center text-purple-800 font-bold">
                        รอรับรถ
                    </div>
                    <div *ngIf="this.itemData?.status === 'completed'"
                        class="bg-teal-200 px-2 py-1 rounded-md text-center text-teal-800 font-bold">
                        ส่งมอบเรียบร้อย
                    </div>
                    <div *ngIf="this.itemData?.status === 'cancelled'"
                        class="bg-red-200 px-2 py-1 rounded-md text-center text-red-800 font-bold">
                        ยกเลิกการขาย
                    </div>
                </div>

            </div>

            <form [formGroup]="form">
                <div class="flex md:flex-row flex-col">
                    <div class="flex flex-col mx-3 md:flex mb-6 w-full md:w-full">
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>พนักงานขาย</mat-label>
                                <input matInput [formControl]="userFilter" [matAutocomplete]="saleAutoComplete"
                                    placeholder="ค้นหาพนักงานขาย" />
                                <mat-autocomplete #saleAutoComplete="matAutocomplete"
                                    (optionSelected)="onSelectUser($event.option.value)">
                                    <mat-option *ngFor="let item of filteruser | async" [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="saleFilter.hasError('required') && saleFilter.touched">
                                    กรุณาพนักงานขาย
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col md:flex-row gap-2 w-full px-3 mb-6 md:mb-2">
                            <button mat-raised-button color="accent" (click)="product('LIST')" class="mx-1">
                                <mat-icon svgIcon="search"></mat-icon>
                                &nbsp;ค้นหารถ
                            </button>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0 flex flex-col md:flex-row gap-2">
                            <mat-form-field class="w-full md:w-1/2" [ngClass]="formFieldHelpers">
                                <mat-label>ยี่ห้อ</mat-label>
                                <input matInput placeholder="ยี่ห้อ" [formControlName]="'brand'" readonly>
                            </mat-form-field>
                            <mat-form-field class="w-full md:w-1/2" [ngClass]="formFieldHelpers">
                                <mat-label>รุ่น</mat-label>
                                <input matInput placeholder="รุ่น" [formControlName]="'model'" readonly>
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0 flex flex-col md:flex-row gap-2">
                            <mat-form-field class="w-full md:w-1/2" [ngClass]="formFieldHelpers">
                                <mat-label>สี</mat-label>
                                <input matInput placeholder="ชื่อรถ" [formControlName]="'color'" readonly>
                            </mat-form-field>
                            <mat-form-field class="w-full md:w-1/2" [ngClass]="formFieldHelpers">
                                <mat-label>ปี</mat-label>
                                <input matInput placeholder="" [formControlName]="'year'" readonly>
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0 flex flex-col md:flex-row gap-2">

                            <mat-form-field class="w-full md:w-1/2" [ngClass]="formFieldHelpers">
                                <mat-label>ทะเบียน</mat-label>
                                <input matInput placeholder="ทะเบียน" [formControlName]="'license'" readonly>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col md:flex-row gap-2 w-full px-3 mb-6 md:mb-2">
                            <button mat-raised-button color="accent" (click)="customer('LIST')" class="mx-1">
                                <mat-icon svgIcon="search"></mat-icon>
                                &nbsp;ค้นหาลูกค้า</button>
                            <button mat-raised-button color="accent" (click)="customer('NEW')" class="mx-1">
                                <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
                                &nbsp;เพิ่มลูกค้า</button>
                        </div>
                        <div class="w-full px-3 mb-6 mt-3 md:mb-0">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>ชื่อ - นามสกุล (ลูกค้า)</mat-label>
                                <input matInput placeholder="ชื่อ - นามสกุล" [formControlName]="'client_name'" readonly>
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0 flex flex-col md:flex-row gap-2">
                            <mat-form-field class="w-full md:w-1/2" [ngClass]="formFieldHelpers">
                                <mat-label>เบอร์ติดต่อ</mat-label>
                                <input matInput placeholder="เบอร์ติดต่อ" [formControlName]="'client_phone'" readonly>
                            </mat-form-field>
                            <mat-form-field class="w-full md:w-1/2">
                                <mat-label>เลขประจำตัวประชาชน</mat-label>
                                <input matInput placeholder="เลขประจำตัวประชาชน" [formControlName]="'client_id_card'"
                                    readonly>
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>ที่อยู่</mat-label>
                                <textarea matInput [placeholder]="'กรอกข้อมูลที่อยู่'" [rows]="5"
                                    formControlName="client_address" readonly></textarea>
                                <mat-icon class="icon-size-5" matPrefix>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        aria-hidden="true" fit="" height="100%" width="100%"
                                        preserveAspectRatio="xMidYMid meet" focusable="false">
                                        <path fill-rule="evenodd"
                                            d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
                                            clip-rule="evenodd"></path>
                                    </svg></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col md:flex-row w-full gap-2 px-3">
                            <div class="w-full">
                                <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                    <mat-label>วันที่จอง</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="booking_date" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                    <mat-label>วันที่รับรถ</mat-label>
                                    <input matInput [matDatepicker]="picker_receive" formControlName="pickup_date"
                                        readonly>
                                    <mat-datepicker-toggle matSuffix [for]="picker_receive"></mat-datepicker-toggle>
                                    <mat-datepicker #picker_receive></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col md:flex-row w-full gap-2 px-3">
                            <div class="w-full">
                                <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                    <mat-label>ช่องทางการขาย</mat-label>
                                    <mat-select formControlName="sale_channel" required>
                                        <mat-option *ngFor="let item of financeChannel" [value]="item.code">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                    <mat-label>วางเงินมัดจำ</mat-label>
                                    <input matInput placeholder="วางเงินมัดจำ" [formControlName]="'down_payment'">
                                </mat-form-field>
                            </div>
                        </div>

                        <span
                            class="px-6 text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500">
                            ข้อมูลการขาย
                        </span>
                        <div class="flex flex-col md:flex-row w-full gap-2 px-3">
                            <!-- <div class="w-full">
                                <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                    <mat-label>ราคาตั้ง</mat-label>
                                    <input matInput placeholder="ราคาตั้ง" [formControlName]="'finance_price'"
                                        type="number">
                                </mat-form-field>
                            </div> -->
                            <div class="w-full">
                                <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                    <mat-label>ราคาขาย</mat-label>
                                    <input matInput placeholder="ราคาขาย" [formControlName]="'sale_price'"
                                        type="number">
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                                <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                    <mat-label>ส่วนลด</mat-label>
                                    <input matInput placeholder="ส่วนลด" [formControlName]="'discount'" type="number">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                <mat-label>รายละเอียดเพิ่มเติมกรณีต้องมีการตกแต่งเพิ่มเติม </mat-label>
                                <textarea matInput [placeholder]="'รายละเอียดเพิ่มเติมกรณีต้องมีการตกแต่งเพิ่มเติม '"
                                    [rows]="3" formControlName="sale_remark"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                            <div class="flex flex-col md:flex-row gap-2">
                                <app-autocomplete-dropdown [placeholder]="'เลือกชุดมาตราฐาน'" class="w-full"
                                    [searchFields]="['master_name']" [datasource]="masters"
                                    [displayField]="'master_name'" [valueField]="'id'" [control]="masterControl"
                                    (selectionChange)="onSelectMaseter($event)">
                                </app-autocomplete-dropdown>
                                <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                    <mat-label>วันที่ดำเนินการเสร็จ</mat-label>
                                    <input matInput [matDatepicker]="picker_complete_date"
                                        formControlName="complete_date">
                                    <mat-datepicker-toggle matSuffix
                                        [for]="picker_complete_date"></mat-datepicker-toggle>
                                    <mat-datepicker #picker_complete_date></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- เพิ่มส่วนนี้ใต้ส่วน "บันทึกค่าใช้จ่าย" -->
                        <div class="my-2 px-3">
                            <span
                                class="text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500">
                                ตรวจสอบความพร้อมของรถ
                            </span>

                            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4" formArrayName="check_lists">
                                <div *ngFor="let item of checkListOptions; let i = index">
                                    <mat-checkbox [checked]="isChecked(item.name)"
                                        (change)="onCheckChange($event, item.name)">
                                        {{ item.name }}
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>

                        <div class="my-4 px-3">
                            <span class="text-xl font-bold text-gray-700">บันทึกรายรับ / รายจ่าย</span>
                            <!-- ตารางรายการรายรับ / รายจ่าย -->
                            <div formArrayName="income_expense_trans"
                                class="relative overflow-x-auto shadow-md border-2 my-4 rounded-lg">
                                <table class="w-full text-sm text-left text-gray-700">
                                    <thead class="bg-gray-100 text-gray-800 uppercase">
                                        <tr>
                                            <th class="px-4 py-3 w-[10%]">วันที่</th>
                                            <th class="px-4 py-3 w-[10%]">ประเภท</th>
                                            <th class="px-4 py-3 w-[15%]">หมวดหมู่</th>
                                            <th class="px-4 py-3 w-[25%]">รายละเอียด</th>
                                            <th class="px-4 py-3 w-[10%]">ชำระ</th>
                                            <th class="px-4 py-3 text-center w-[10%]">จำนวนเงิน</th>
                                            <th class="px-4 py-3 w-[15%]">รูป</th>
                                            <th class="px-4 py-3 text-center w-[5%]">จัดการ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let txGroup of incomeExpenseFormArray.controls; let i = index"
                                            [formGroupName]="i" class="bg-white hover:bg-gray-50 border-b">
                                            <td class="px-4 py-2">
                                                {{ txGroup.get('transaction_date')?.value | date: 'dd/MM/yyyy' }}
                                            </td>
                                            <td class="px-4 py-2 capitalize">
                                                <span [ngClass]="{
                'text-green-600': txGroup.get('type')?.value === 'income',
                'text-red-500': txGroup.get('type')?.value === 'expense'
              }">
                                                    {{ txGroup.get('type')?.value === 'income' ? 'รายรับ' : 'รายจ่าย' }}
                                                </span>
                                            </td>
                                            <td class="px-4 py-2">{{ convertType(txGroup.get('type_ref_id')?.value,
                                                txGroup.get('type').value) }}</td>
                                            <td class="px-4 py-2">{{ txGroup.get('description')?.value }}</td>
                                            <td class="px-4 py-2">{{
                                                converPaymentMethod(txGroup.get('payment_method')?.value) }}</td>
                                            <td class="px-4 py-2 text-center">{{ txGroup.get('amount')?.value | number
                                                }}</td>
                                            <td class="px-4 py-2">

                                                <button mat-icon-button color="accent"
                                                    (click)="showPicture(txGroup.get('attachment')?.value)"
                                                    *ngIf="txGroup.get('attachment').value">
                                                    <mat-icon>image</mat-icon>
                                                </button>
                                            </td>
                                            <td class="px-4 py-2 text-center">
                                                <button (click)="removeTransaction(i)">
                                                    <mat-icon class="text-red-500">delete</mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr *ngIf="incomeExpenseFormArray.length === 0">
                                            <td colspan="8" class="text-center py-4 text-gray-500">ไม่มีรายการ</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- ฟอร์มเพิ่มรายการใหม่ -->
                            <div [formGroup]="newTxForm" class="grid grid-cols-1 md:grid-cols-6 gap-4 mb-4">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:col-span-1">
                                    <mat-label>วันที่</mat-label>
                                    <input matInput [matDatepicker]="pickerTran" formControlName="transaction_date">
                                    <mat-datepicker-toggle matSuffix [for]="pickerTran"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerTran></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:col-span-1">
                                    <mat-label>ประเภท</mat-label>
                                    <mat-select formControlName="type">
                                        <mat-option value="income">รายรับ</mat-option>
                                        <mat-option value="expense">รายจ่าย</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:col-span-2">
                                    <mat-label>หมวดหมู่</mat-label>
                                    <mat-select formControlName="type_ref_id">
                                        <mat-option [value]="''">
                                            <span>เลือกหมวดหมู่</span>
                                        </mat-option>
                                        <mat-option *ngFor="let item of categories" [value]="item.id">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:col-span-1">
                                    <mat-label>ชำระ</mat-label>
                                    <mat-select formControlName="payment_method">
                                        <mat-option value="cash">เงินสด</mat-option>
                                        <mat-option value="transfer">เงินโอน</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:col-span-1">
                                    <mat-label>จำนวนเงิน</mat-label>
                                    <input matInput type="number" formControlName="amount">
                                </mat-form-field>
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:col-span-3">
                                    <mat-label>รายละเอียด</mat-label>
                                    <input matInput formControlName="description" placeholder="ระบุรายการ">
                                </mat-form-field>
                                <!-- component.html -->
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full md:col-span-2">
                                    <mat-label>อัปโหลดรูป</mat-label>
                                    <!-- ปุ่มสำหรับเลือกไฟล์ -->
                                    <button mat-icon-button matPrefix type="button" (click)="fileInput.click()">
                                        <mat-icon>attach_file</mat-icon>
                                    </button>
                                    <!-- ช่องแสดงชื่อไฟล์ (readonly) -->
                                    <input type="text" matInput readonly [formControlName]="'attachment_name'" />
                                    <!-- ช่อง input แบบ file (ซ่อนอยู่) -->
                                    <input type="file" hidden #fileInput (change)="onFileSelected(fileInput.files)" />
                                    <mat-error *ngIf="form.get('attachment_name')?.invalid">กรุณาเลือกรูป</mat-error>
                                </mat-form-field>
                                <div class="flex items-center justify-center md:col-span-1">
                                    <button mat-flat-button color="primary" [disabled]="newTxForm.invalid"
                                        (click)="addTransaction()">
                                        เพิ่ม
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="flex justify-center m-4">
                <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="onSubmit()">
                    บันทึก
                </button>
                <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onBack()">
                    ยกเลิก
                </button>
            </div>
        </div>
    </div>
</div>